<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pjt.planit.business.tripplan.mapper.PlanMapper">
    <select id="getPlanList" parameterType="com.pjt.planit.business.tripplan.dto.TripPlanDto" resultType="hashmap">
        SELECT *
             , CASE WHEN A.custNo = #{custNo} THEN 'Y' ELSE 'N' END AS ownerYn
        FROM (
                 SELECT ttp.trip_plan_no AS tripPlanNo
                      , ttp.title AS title
                      , ttp.start_dt AS startDt
                      , ttp.end_dt AS endDt
                      , ttp.thumbnail_img AS thumbnailImg
                      , ttp.review AS review
                      , ttp.public_yn AS publicYn
                      , ttp.cust_no AS custNo
                 FROM T_TRIP_PLAN ttp
                 WHERE ttp.cust_no = #{custNo}
                   AND ttp.start_dt BETWEEN #{startDt} AND #{endDt}
                 UNION ALL
                 SELECT ttp2.trip_plan_no AS tripPlanNo
                      , ttp2.title AS title
                      , ttp2.start_dt AS startDt
                      , ttp2.end_dt AS endDt
                      , ttp2.thumbnail_img AS thumbnailImg
                      , ttp2.review AS review
                      , ttp2.public_yn AS publicYn
                      , ttp2.cust_no AS custNo
                 FROM T_TRIP_PLAN ttp2
                          INNER JOIN T_TRIP_MATE ttm
                                     ON ttm.trip_plan_no = ttp2.trip_plan_no
                 WHERE ttm.cust_no = #{custNo}
                   AND ttp2.start_dt BETWEEN #{startDt} AND #{endDt}
             ) AS A
        ORDER BY A.startDt DESC
    </select>

    <select id="getPlanDetail" parameterType="com.pjt.planit.business.tripplan.dto.TripPlanDto" resultType="com.pjt.planit.business.tripplan.dto.TripPlanDto">
        SELECT ttp.trip_plan_no AS tripPlanNo
             , ttp.title AS title
             , ttp.start_dt AS startDt
             , ttp.end_dt AS endDt
             , ttp.thumbnail_img AS thumbnailImg
             , ttp.review AS review
             , ttp.public_yn AS publicYn
             , ttp.cust_no AS custNo
        FROM T_TRIP_PLAN ttp
        WHERE trip_plan_no = #{tripPlanNo}
    </select>

    <select id="getMateList" parameterType="com.pjt.planit.business.tripplan.dto.TripPlanDto" resultType="hashmap">
        SELECT ttm.trip_mate_no AS tripMateNo
             , ttm.trip_plan_no AS tripPlanNo
             , ttm.cust_no AS cust_no
        FROM T_TRIP_MATE ttm
        WHERE trip_plan_no = #{tripPlanNo}
    </select>

    <select id="getDetailList" parameterType="com.pjt.planit.business.tripplan.dto.TripPlanDto" resultType="hashmap">
        SELECT ttd.trip_detail_no AS tripDetailNo
             , ttd.trip_plan_no AS tripPlanNo
             , ttd.plan_dt AS planDt
             , ttd.seq  AS seq
             , ttd.contentid AS contentid
             , ttd.content_type_id AS contentTypeId
             , ttd.title AS title
             , ttd.address AS address
             , ttd.mapx AS mapx
             , ttd.mapy AS mapy
             , tpr.place_review_no AS placeReviewNo
             , tpr.cust_no AS custNo
             , tpr.star AS star
             , tpr.review AS review
             , tpr.review_img1 AS reviewImg1
             , tpr.review_img2 AS reviewImg2
             , tpr.review_img3 AS reviewImg3
        FROM T_TRIP_DETAIL ttd
        LEFT OUTER JOIN T_PLACE_REVIEW tpr
        ON ttd.trip_detail_no = tpr.trip_detail_no
        WHERE ttd.trip_plan_no = #{tripPlanNo}
    </select>
    <select id="getReviewList" parameterType="com.pjt.planit.business.tripplan.dto.openapi.PlaceInfoListDto" resultType="com.pjt.planit.business.tripplan.dto.openapi.PlaceInfoReviewDto">
        SELECT tpr.place_review_no AS placeReviewNo
             , tpr.star AS star
             , tpr.cust_no AS custNo
             , tpr.contentid AS contentid
             , tpr.review AS review
             , tpr.review_img1 AS reviewImage1
             , tpr.review_img2 AS reviewImage2
             , tpr.review_img3 AS reviewImage3
             , tpr.review_img4 AS reviewImage4
             , tc.nickname AS nickName
        FROM T_PLACE_REVIEW tpr
        INNER JOIN T_CUST tc
        ON tc.cust_no = tpr.cust_no
        WHERE tpr.contentid = #{contentid}
        ORDER BY tpr.place_review_no DESC
    </select>
</mapper>
